
    <div class="hero-area2 d-flex align-items-center">
        <div class="container">
            <div class="row ">
                <div class="col-xl-12">
                    <!-- Hero Caption -->
                    <div class="hero-cap pt-100">
                        <h1>My Portfolio</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="about-area section-padding40">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="about-caption mb-50">
                    <div class="section-tittle mb-35">
                        <h2>About Me</h2>
                    </div>
                    <p  style="text-align: justify; font-size: large;">Hello, I'm Siddhartha, a passionate and versatile individual with a background in Civil Engineering from Parala Maharaja Engineering College , Odisha. I realized my true calling lies in the exciting world of Information Technology.</p>
                    <p  style="text-align: justify; font-size: large;">Driven by my love for computer programming, coding, and web development, I made the bold decision to transition from the Civil field to the dynamic realm of IT. This journey allowed me to explore my creativity and analytical mindset, making me eager to face new challenges and find innovative solutions.</p>
                    <p  style="text-align: justify; font-size: large;">To pursue my aspirations in the IT industry, I've been actively seeking knowledge in various technologies. I've taken professional online courses from reputable platforms like Edu-Bridge India and Udemy, as well as engaging sharpen my skills in HTML, CSS, JavaScript, Bootstrap, AngularJS, and Core Java.</p>
                    <p  style="text-align: justify; font-size: large;">As a self-employed individual, I've embraced adaptability and self-discipline, qualities that I believe are valuable assets in both my professional and personal life. I'm driven by a passion to contribute my skills and expertise to create meaningful and impactful applications that improve the lives of people worldwide..</p>
                    <p  style="text-align: justify; font-size: large;">My journey into the world of IT has been an exhilarating one, and I'm excited to leverage my diverse background in Civil Engineering and my newfound IT skills to create innovative solutions that bridge the gap between technology and real-world challenges.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="../../assets/my2.png" alt="">
                </div>
            </div>
        </div>

    </div>
    </section>
