<section class="site-section" id="section-contact">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2>Get <strong>In Touch</strong></h2>
        </div>
      </div>

      <div class="contain1 bck4 my-5 p-4 ">
        <h2 style="text-align: center;">Contact Us</h2>
        <form>
          <div class="form-group">
            <label for="FormControlInput1">Name</label>
            <input type="email" name="nm" class="form-control" id="nm" ngModel placeholder="Type Your Name Here"
              required>
          </div>

          <div class="form-group">
            <label for="FormControlInput2">Phone Number</label>
            <input type="text" name="ph" class="form-control" ngModel id="ph" placeholder="Enter Your Number Here"
              required>

          </div>

          <div class="form-group">
            <label for="FormControlInput3">Email address</label>
            <input type="text" name="eml" class="form-control" id="eml" placeholder="name@example.com" required email>

          </div>

          <div class="form-group">
            <label for="FormControlInput4">Write to Us</label>

            <textarea id="ara" name="ara" cols="45" class="form-control" rows="2"
              placeholder="Tell Us something about you" required></textarea>
          </div>

          <div>
            <button type="submit" class="btn btn-success my-3">Submit</button>
          </div>
        </form>
      </div>

      <div class="col-md-5 pl-md-5 contain2">
        <h3 class="mb-5">My Contact <span id="d"> Details</span></h3>

        <div>
          <p>
            <i class="fa fa-user" style="font-size:28px;color:rgb(12, 11, 11)">  Diptanu Baidya</i>
          </p>
        </div>

        <div>
          <p>
            <i class="fa fa-volume-control-phone" style="font-size:28px;color:rgb(4, 36, 7)"> +91-9366609069</i>
          </p>
        </div>

        <div>
          <p>
            <i class="fa fa-envelope" style="font-size:28px;color:rgb(8, 8, 8)"> diptanubaidya4@gamil.com</i>
          </p>
        </div>

        <div>
          <p>
            <i class="fa fa-address-card" style="font-size:28px;color:rgb(22, 20, 20)"> North Jolaibari, Tripura(S), 799141</i>
          </p>
        </div>

        <div>
          <p>
            <i class="fa fa-linkedin-square" style="font-size:28px;color:rgb(5, 5, 5)">www.linkedin.com/in/diptanubaidya</i>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>