<div class="container">

<div class="row py-lg-5 " style="text-align: center;">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light"><strong>Certification</strong> </h1>
    <p class="lead text-muted"><b style="color: aliceblue;">​🇨​​🇪​​🇷​​🇹​​🇮​​🇫​​🇮​​🇨​​🇦​​🇹​​🇮​​🇴​​🇳​ ​🇮​​🇸​ ​🇹​​🇭​​🇪​ ​🇵​​🇷​​🇴​​🇨​​🇪​​🇸​​🇸​ ​🇴​​🇫​ ​🇻​​🇪​​🇷​​🇮​​🇫​​🇾​​🇮​​🇳​​🇬​ ​🇹​​🇭​​🇦​​🇹​
      ​🇦​ ​🇵​​🇪​​🇷​​🇸​​🇴​​🇳​, ​🇵​​🇷​​🇴​​🇩​​🇺​​🇨​​🇹​, ​🇴​​🇷​ ​🇸​​🇪​​🇷​​🇻​​🇮​​🇨​​🇪​ ​🇲​​🇪​​🇪​​🇹​​🇸​ ​🇨​​🇪​​🇷​​🇹​​🇦​​🇮​​🇳​ ​🇸​​🇹​​🇦​​🇳​​🇩​​🇦​​🇷​​🇩​​🇸​. ​🇮​​🇹​ ​🇮​​🇸​ ​🇦​ ​🇫​​🇴​​🇷​​🇲​​🇦​​🇱​ ​🇦​​🇹​​🇹​​🇪​​🇸​​🇹​​🇦​​🇹​​🇮​​🇴​​🇳​ ​🇴​​🇷​ ​🇨​​🇴​​🇳​​🇫​​🇮​​🇷​​🇲​​🇦​​🇹​​🇮​​🇴​​🇳​
       ​🇴​​🇫​ ​🇨​​🇪​​🇷​​🇹​​🇦​​🇮​​🇳​ ​🇨​​🇭​​🇦​​🇷​​🇦​​🇨​​🇹​​🇪​​🇷​​🇮​​🇸​​🇹​​🇮​​🇨​​🇸​ ​🇴​​🇫​ ​🇦​​🇳​ ​🇴​​🇧​​🇯​​🇪​​🇨​​🇹​, ​🇵​​🇪​​🇷​​🇸​​🇴​​🇳​, ​🇴​​🇷​ ​🇴​​🇷​​🇬​​🇦​​🇳​​🇮​​🇿​​🇦​​🇹​​🇮​​🇴​​🇳​. ​🇹​​🇭​​🇮​​🇸​ ​🇨​​🇴​​🇳​​🇫​​🇮​​🇷​​🇲​​🇦​​🇹​​🇮​​🇴​​🇳​ ​🇮​​🇸​ ​🇴​​🇫​​🇹​​🇪​​🇳​, ​🇧​​🇺​​🇹​
        ​🇳​​🇴​​🇹​ ​🇦​​🇱​​🇼​​🇦​​🇾​​🇸​, ​🇵​​🇷​​🇴​​🇻​​🇮​​🇩​​🇪​​🇩​ ​🇧​​🇾​ ​🇸​​🇴​​🇲​​🇪​ ​🇫​​🇴​​🇷​​🇲​ ​🇴​​🇫​ ​🇪​​🇽​​🇹​​🇪​​🇷​​🇳​​🇦​​🇱​ ​🇷​​🇪​​🇻​​🇮​​🇪​​🇼​, ​🇪​​🇩​​🇺​​🇨​​🇦​​🇹​​🇮​​🇴​​🇳​, ​🇦​​🇸​​🇸​​🇪​​🇸​​🇸​​🇲​​🇪​​🇳​​🇹​, ​🇴​​🇷​ ​🇦​​🇺​​🇩​​🇮​​🇹​.</b>.</p>
  </div>
</div>

<div class="  row row-cols-1 row-cols-sm-2 m-5 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/A11.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">A certifcate that provide by Central board of secondary education on the merits of 10th Results </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/10.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">A certifcate that provide by Govt.Polytecnic BBSR and collected a Diploma Level Certificate in Civil Engineering</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/12.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">MYSQL LEARNING -- PrepInsta</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/10th scl b.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Java Learning -- PrepInsta</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/12th scl a.png" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">C nano Degree -- PrepInsta</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/10.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Basics of Bootstraping Certificate Course--Bootstrap</p>
      </div>
    </div>
  </div>
