<div class="container">

<div class="row py-lg-5 " style="text-align: center;">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light"><strong>Certification</strong> </h1>
    <p class="lead text-muted"><b>Certification is the process of verifying that a person, product, or service meets certain standards. It is a formal attestation or confirmation of certain characteristics of an object, person, or organization. This confirmation is often, but not always, provided by some form of external review, education, assessment, or audit.</b>.</p>
  </div>
</div>

<div class="  row row-cols-1 row-cols-sm-2 m-5 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/10th scl b.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">A certifcate that provide by Tripura board of secondary education on the merits of 10th Results </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/12th scl a.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">A certifcate that provide by Tripura board of secondary education on the merits of 12th Results .</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/free.jpeg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Responsive Web Design included HTML, CSS --freeCodeCamp</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/so.jpeg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Demonstrating Theoretical and Practical understanding of Introduction to HTML-SoloLearn</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/in.jpeg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Responsive Web Development with HTML5, CSS3, JavaScript--Infosys</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/masai.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">Basics of Web Development Certificate Course--Masai</p>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card shadow-sm">
      <img src="../../assets/MySql_Infosys.jpg" alt="" class="bd-placeholder-img card-img-top" width="100%" height="270">
      <div class="card-body">
        <p class="card-text">MySQL Database Development Mastery - Infosys Springboard</p>
      </div>
    </div>
  </div>
  
</div>
</div>