
<div class="container-fluid my-6 mt-0" id="home">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6 py-6 pb-0 pt-lg-0">
            <h1 class=" jambo1 display-3 mb-3 display-5 fw-bold">Hi There,</h1>
              <h1 class="display-3 mb-3 jambo2">I'm Diptanu <span id="ba">Baidya</span></h1>
              <div class="typed-text  jambo3">I Am Into ,<span id="bi">Web Develop |Web Designer | Web Developer | Front End Developer |</span></div>
          </div>
          <div class="col-lg-6 ">
              <img class="img-fluid jambo5" src="../../assets/my.jpg" alt="">
          </div>
      </div>
  </div>
</div>
